In [1]:
from pathlib import *
import numpy as np
import sqlalchemy as sa
import pandas as pd
import csv

database_management_sys = sa.create_engine("sqlite:///../database-code/data/se/main.db")
connect_dbms_to_db = database_management_sys.connect()
data = pd.read_sql("folk_theorem_experiment", connect_dbms_to_db)

In [2]:
max_tournament_player_set = """
    SELECT MAX(tournament_player_set) FROM folk_theorem_experiment
"""
max_num_of_player_sets = pd.read_sql(max_tournament_player_set, connect_dbms_to_db)
maximum_player_set = max_num_of_player_sets["MAX(tournament_player_set)"][0]
maximum_player_set

159

In [9]:
degenerate_tournament_set_collection = """
    SELECT tournament_player_set, noise FROM folk_theorem_experiment
    WHERE warning_message <> 'None' 
"""

could_be_degenerate_tournaments = pd.DataFrame(connect_dbms_to_db.execute(degenerate_tournament_set_collection).fetchall()).drop_duplicates()

In [10]:
could_be_degenerate_tournaments

         0    1
0        3  0.0
200     14  0.0
202     14  1.0
204     20  0.0
404     23  0.0
604     24  0.0
612     24  1.0
812     25  0.0
833     25  1.0
836     26  0.0
899     27  0.0
914     27  0.1
917     27  1.0
932     28  0.0
962     28  0.8
965     29  0.0
1175    31  0.0
1322    32  0.0
1331    33  0.5
1334    35  0.0
1346    35  1.0
1349    36  0.0
1361    37  0.0
1379    37  0.1
1385    37  1.0
1685    38  0.0
1703    38  1.0
1709    39  0.0
1742    39  1.0
1745    40  0.0
...    ...  ...
28524  152  0.1
28572  152  0.2
28588  152  0.5
28596  152  1.0
28700  153  0.0
29300  153  0.1
29340  153  1.0
29500  154  0.0
29948  154  0.1
29980  154  0.9
29988  154  1.0
30036  155  0.0
30236  155  0.1
30332  155  1.0
30460  156  0.0
31108  156  0.1
31164  156  0.2
31180  156  0.9
31188  156  1.0
31364  157  0.0
31628  157  0.1
31652  157  0.4
31660  157  0.7
31668  157  1.0
31676  158  0.0
31756  158  0.1
31764  158  0.2
31772  158  1.0
31940  159  0.0
32508  159  0.1

[372 rows x 2 columns]